<!-- PRELOADER -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>
	<!-- /PRELOADER -->

<div class="wrapper">
  <!-- HERO -->
  <section id="hero" class="module-hero overlay-light" data-background="{{ image }}">

    <!-- HERO TEXT -->
    <div class="hero-caption">
      <div class="hero-text">

        <!-- HERO CONTENT -->
        <h1 class="m-b-40"><b>{{ title }}</b></h1>
        <p class="lead m-b-60">{{ description }}</p>

        <!-- COUNTDOWN: YOUR DATE HERE -->
        <div id="countdown" class="m-b-100" data-countdown="{{ datetime }}"></div>

      </div>
    </div>
    <!-- /HERO TEXT -->

  </section>
  <!-- /HERO -->


  <!-- SERVICES -->
  <section id="services" class="module">

    <!-- MODULE DIVIDER -->
    <a id="hero-divider" class="striped-icon divider inner-scroll" href="#services">
      <i class="fa fa-angle-down"></i>
    </a>
    <!-- /MODULE DIVIDER -->



    <div class="container">
      
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 logo-splash">
            <!-- TEAM MEMBER -->
						<div class="col-sm-12 owl-item">
							<div class="team-item m-b-sm-40">
								<img src="{{ user.image }}" alt="{{ user.username }}">
								<div class="team-inner">
									<h4 class="team-name">@{{ user.username }}</h4>
									<p>{{ user.bio }}</p>
								</div>
							</div>
						</div>
						<!-- /TEAM MEMBER -->
        </div>
      </div>

      <hr />

      <!-- MODULE TITLE -->
      <div class="row" style="margin-top: 3em;">
        <div class="col-sm-8 col-sm-offset-2 logo-splash">
          <h3 class="logo"><span style="vertical-align: -4px; margin-right: -4px;" class="material-icons">schedule</span>
            Cronster</h3>
          <h4>Keep track of all your important moments</h4>
          <a class="btn btn-base" href="https://cronster.app">See More</a>
        </div>
      </div>
      <!-- /MODULE TITLE -->

    </div>
  </section>
  <!-- /SERVICES -->

</div>